/* ./css/global.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', serif;
}

.row, .cell, .container {
    margin: 5px;
    padding: 5px;
    outline: 3px solid;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    outline-color: blue;
}

.row {
    outline-color: green;
}

.cell {
    min-height: 50px;
    outline-color: orange;
}